<html>
  <%- include('../header/general'); %>
  <body class='gl-global-bg'>
    <%- include('components/navbar'); %>
    <%- body %>
    <div class='container'>
      <%- include('components/footer'); %>
    </div>
  </body>
</html> 