<div class="container-fluid">
  <div class="mt-5 row justify-content-center">
    <div class="mt-5 col-12 col-md-8 position-relative text-light">
      <div class="wow fadeInUp card mb-0 bg-dark text-light gl-shadow">
        <h4 class="mt-4 text-center text-white gl-font font-weight-bolder" style="font-size: 40px;text-shadow: 2px 6px 3px #000000;">MMUCraft Player Commands</h4>
        <div class="card-body p-3">
          <div class="text-center">
            <div>Here are some useful commands and special prefixes that players can use in game. To use the command, type "/" in chat then follow by the command you wish. You may notice there are actually tons of commands listing in game. Mostly are not for player use.</div>
            <div class="mt-3">This <span class="gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Hover me for example!">Parameter Tag</span> represents the parameter you need to include. Hover it to view example input.</div>
          </div>
        </div>
        <div class="card-body p-3">
          <div class="row justify-content-center">
            <a href="#survivalcommand"><button type="button" class="btn btn-outline-light ml-1"><img src="/images/d-sword.png" style="height: 48px;"></button></a>
            <a href="#creativecommand"><button type="button" class="btn btn-outline-light ml-1"><img src="/images/grass-block.png" style="height: 48px;"></button></a>
            <a href="#discordcommand"><button type="button" class="btn btn-outline-light ml-1"><img src="/images/discord.png" style="height: 48px;"></button></a>
          </div>
        </div>
        <hr>
        <div class="card-body p-4" id="survivalcommand">
          <div class="text-white gl-font font-weight-bolder" style="font-size: 20px;">Survival World Commands</div>
          <div class="pt-4">
            <span>/login</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="mypassword123">Password</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Login into your account upon joining the server. If you forget your password, please contact admin for help.</div>
          </div>
          <div class="pt-4">
            <span>/changepassword</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="oldpassword123">Old Password</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="newpassword123">New Password</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Change your password after logged in.</div>
          </div>
          <div class="pt-4">
            <span>/w</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Alex">Name</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Want my diamonds?">Messages</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Whispers secretly to other players. No range limitation.</div>
          </div>
          <div class="pt-4">
            <span>/msg</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Alex">Name</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Want my diamonds?">Messages</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Whispers secretly to other players. No range limitation.</div>
          </div>
          <div class="pt-4">
            <span>/r</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Yes, please spare me some.">Messages</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Reply to the last player who whispers you. No range limitation.</div>
          </div>
          <div class="pt-4">
            <span>/skin</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Alex">Name</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Change your skin according to given name. Visit <a target="_blank" href="http://minecraft.tools/en/skin.php">here</a> to search for the skin you want.</div>
          </div>
        </div>
        <div class="card-body p-4">
          <div>
            <span>Prefix</span>
            <span class="gl-pointer badge badge-pill badge-success" data-toggle="tooltip" data-placement="top" title="!This will send globally.">!</span>
            <span>allows message to send globally.</span>
          </div>
          <div>
            <span>Prefix</span>
            <span class="gl-pointer badge badge-pill badge-success" data-toggle="tooltip" data-placement="top" title="!!This will send globally and into Discord.">!!</span>
            <span>allows message to send globally and into our Discord server.</span>
          </div>
          <div>
            <span>While players can only receive <strong>normal</strong> messages within 250 block radius range.</span>
          </div>
        </div>
        <hr>
        <div class="card-body p-4" id="creativecommand">
          <div class="text-white gl-font font-weight-bolder" style="font-size: 20px;">Creative World Commands</div>
          <div class="pt-4">
            <span>/creativeworld</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>To get into the Creative Area. However, player must be in overworld, no item in inventory, no equipments, in full health, and staying alive. For anti-spam reason, player need to wait 30 seconds.</div>
          </div>
          <div class="pt-4">
            <span>/survivalworld</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Get back to survival world. Items in inventory will be cleared.</div>
          </div>
          <div class="pt-4">
            <span>/go</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="-5700">X</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="90">Y</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="800">Z</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Teleport player to the specific position.</div>
          </div>
          <div class="pt-4">
            <span>/go</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Alex">name</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Teleport player to the other player.</div>
          </div>
          <div class="pt-4">
            <span>//wand</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Obtain the magic wand for coordinate selection. Left click for first position and right click for second position.</div>
            <div><i class="fas fa-exclamation-triangle"></i> Double slash prefix instead of single slash.</div>
          </div>
          <div class="pt-4">
            <span>//copy</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Copy not more than 900 selected blocks.</div>
          </div>
          <div class="pt-4">
            <span>//cut</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Cut not more than 900 selected blocks.</div>
          </div>
          <div class="pt-4">
            <span>//paste</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Paste not more than 900 selected blocks.</div>
          </div>
          <div class="pt-4">
            <span>//rotate</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="90">degree</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Rotate blocks in your clipboard.</div>
          </div>
          <div class="pt-4">
            <span>/rg claim</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="AlexCastle">name</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Claim a region for yourself. Every player and claim up to 3 regions and not exceed 675000 blocks.</div>
          </div>
          <div class="pt-4">
            <span>/rg remove</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="AlexCastle">name</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Remove a claimed region.</div>
          </div>
          <div class="pt-4">
            <span>/rg redefine</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="AlexCastle">name</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Re-define the area of claimed region.</div>
          </div>
          <div class="pt-4">
            <span>/rg addowner</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="AlexCastle">name</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Ben Casey Dollan">owners</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Add owner to claimed region.</div>
          </div>
          <div class="pt-4">
            <span>/rg addmember</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="AlexCastle">name</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Ben Casey Dollan">owners</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Add member to claimed region.</div>
          </div>
          <div class="pt-4">
            <span>/rg removeowner</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="AlexCastle">name</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Ben Casey Dollan">owners</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Remove owner from claimed region.</div>
          </div>
          <div class="pt-4">
            <span>/rg removemember</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="AlexCastle">name</span>
            <span class="ml-1 gl-pointer badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="Ben Casey Dollan">owners</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Remove member from claimed region.</div>
          </div>
          <div class="pt-4">
            <span>/rg info</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Shows information for the claimed region.</div>
          </div>
        </div>
        <div class="card-body p-4">
          <div>Unleash your creativity!</div>
          <div>Players are allow to add flags to their claimed region. Please refer to <a target="_blank" href="wiki.sk89q.com/wiki/WorldGuard/Regions/Flags">here</a></div>
          <div>Your stats will not increase in Creative Area. For instance, play time or death count.</div>
        </div>
        <hr>
        <div class="card-body p-4" id="discordcommand">
          <div class="text-white gl-font font-weight-bolder" style="font-size: 20px;">Discord Commands</div>
          <div class="pt-4">
            <span>/discord</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>To get our Discord server invitation link.</div>
          </div>
          <div class="pt-4">
            <span>/discord link</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Link your Minecraft account with Enderman bot. The command will gives you a 4 digit codes and then direct message the Enderman bot with the codes to complete the linking.</div>
          </div>
          <div class="pt-4">
            <span>/discord unlink</span>
          </div>
          <div class="mt-2 text-white-50">
            <div>Unlink the current account from Enderman bot.</div>
        </div>
      </div>
    </div>
  </div>
</div>