<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6" style="padding-top: 140px; padding-bottom: 100px;">
      <div class="row justify-content-center">
        <% if (locals.alert) { %>
        <div class="col-12">
          <div class="alert alert-<%= alert %>" role="alert">
            <%= message %>
          </div>
        </div>
        <% } %>
        <div class="col-12 d-none d-md-block">
          <div class="p-2 bg-dark rounded gl-shadow text-light text-center">
            <h4 class="text-white gl-font font-weight-bolder" style="font-size: 20px ;">Get invitation</h4>
          </div>
        </div>
      </div>
      <form action='/invite' method="post" class="mt-2 p-4 bg-dark rounded gl-shadow text-light">
        <div class="form-group">
          <label for="emailInput">MMU email address</label>
          <input type="email" name="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-white-50">MMU email is required to send the invitation link.</small>
        </div>
        <div class="form-group">
          <div class="g-recaptcha gl-recap" data-sitekey="<%- recaptcha %>" data-theme='dark'></div>
        </div>
        <button type="submit" class="btn btn-primary">Send Invitation</button>
      </form>
    </div>
  </div>
</div>

<% contentFor('head-extend') %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>