<div class="mt-5 hidden">&nbsp;</div>
<div class="container" style="color:white;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col">
      <div class="container card bg-dark mt-5">
        <div class="row">
          <div class="col text-center py-3">
            <h2>Login</h2>
          </div>
        </div>
        <div class="col">
          <div class="">
            <article class="">
              <hr>
              <%if (message) {%>
                <p class="md-text text-center"><%= message %></p>
              <%} %>
              <form action='/u/login' method='POST'>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="username" class="form-control" placeholder="Username" type="text">
                  </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="password" class="form-control" placeholder="Password" type="password">
                  </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group text-center">
                  <button type="submit" class="btn bg-light px-5"> Login  </button>
                </div> <!-- form-group// -->
              </form>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
