.info-card {
  display: inline-block;
}

.info-card:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.info-card:hover:after { 
    width: 100%; 
    left: 0; 
}

.feature-card {
	opacity: 1;
	transition: opacity .2s;
}

.feature-card:hover {
	opacity: 0.6;
}